<!DOCTYPE html>
<html>
<head>
    <!--inline[../../common/page/head.ejs]-->
    <title>常见问题</title>
    <link rel="stylesheet" type="text/css" href="../static/banner.css?__inline">
</head>
<body >
    <div class="sky">
     <div class="nut"><img src="../static/image/nut.png" alt=""></div>
        <div class="sea">
            <div id="sea1"></div>
            <div id="sea2"></div>
        </div>
         <div class="beach"><img src="../static/image/beach.png"></div>
        <div class="logo"><img src="../static/image/logo.png" alt=""></div>
        <div class="title">
            <img src="../static/image/title2.png" alt="">
        </div>
    <div class="rulebox"><img src="../static/image/rule2.png" alt="" class="rule"></div>
    </div>
    <!--inline[../../common/page/foot.ejs]-->
    <script type="text/javascript">
    /*var bIsAndroid = navigator.userAgent.toLowerCase().match(/android/i) == "android";
    if(bIsAndroid)
    {
        alert("android");
    }*/
    var dev_height=document.documentElement.clientHeight;
    var dev_width=document.documentElement.clientWidth;
    $('body').height(dev_height);
    $('body,html').css('overflow-y','hidden');
    $('.sky').height(dev_height);
    $('.beach').height(dev_height*0.6);
    $('.sea').width(dev_width);
    $('.sea').css('bottom',dev_height*0.05);
    $('.nut').css('bottom',dev_height*0.13);
    $('.rule').css('bottom',-dev_height*0.4);
    $('.rule').click(function(){
        $(this).addClass('uprule').addClass('rulesup');
    });
    setTimeout(function(){$('.rule').addClass('uprule').addClass('rulesup');},4000);
    if(dev_height<560)
    {
        $('.sea').css('bottom',0);
        $('.nut').css('bottom',dev_height*0.1);
        $('.rule').css('bottom',-dev_height*0.48);
    }
</script>
</body>
</html>